* {
  margin: 0;
}

#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

}

body {
  background-color: rgb(32, 32, 32);
}

.App {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.titlecard img {
  width: 100%;

}

.titlecard h1 {
  margin-top: 10px;
  font-size: 35px;
}

.titlecard h2 {
  font-size: 16px;
  color: #F47D27;
  margin: 0;

}

.titlecard h3 {
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
  padding: 5px;
}

a:link {
  color: black;
  text-decoration: underline;
}

button {
  display: flex;
  align-content: center;
  width: 120px;
  height: 40px;
  text-align: center;
border: 1px solid #D1D5DB;
}

.buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.buttons img {
  width: 14px;
  object-fit: contain;
  padding-right: 5px;
  
}

#linkedin-button {
  background-color: #297FE5;
  color: white;
}

#email-button img {
  padding-top: 3px;
}

.footer {
  background-color: lightgray;
  height: 75px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer img {
  height: 30px;

}

.main h1 {
  text-align: left;
  font-size: 20px;
  font-family: 'Inter';
  padding-left: 40px;
  font-weight: bold;

}

.main p {
  padding: 10px 20px 10px 20px;
  font-size: 13px;
  line-height: 150%;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  #root {
    padding: 0;
    margin: 0;
  }



  .App {
    background-color: rgb(233, 233, 233);
    width: 100%;
    border-radius: 0;
  }
}